src/main/mule/hello-world-pocjenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="da90e4bf-1a66-47bf-9dae-b399672d408f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-world-pocjenkinsFlow" doc:id="d2a5779e-9cde-4f89-b820-1160686ff1a7" >
		<http:listener doc:name="Listener" doc:id="5663a3a1-2711-427e-bc4d-7e4475532d5a" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value='#["hello world"]' doc:name="Set Payload" doc:id="68e6cf1d-372b-488b-955c-058a7dbaf5df" />
		<logger level="INFO" doc:name="Logger" doc:id="628d9627-ac2d-4a6f-9973-b539013fe585" message="#[payload]"/>
	</flow>
</mule>
